streamlit==1.39.0
python-decouple==3.8
langchain==0.0.287  # Versão mais estável para evitar incompatibilidades
langchain-chroma==0.0.1  # Use uma versão anterior do langchain-chroma
langchain-community==0.0.1
langchain-core==0.0.1
langchain-openai==0.0.1
openai==0.27.0  # Versão estável da API OpenAI
chromadb==0.3.23  # Use uma versão mais estável do chromadb
protobuf==3.20.*
